/*-------------------------------------------    
    Base     
-------------------------------------------*/
*, *:before, *:after {
  margin: 0; 
  padding: 0;
  /*Include padding and border in the element's total width and height*/
  box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, section {display: block;}

/* color of highlighted text */
::-moz-selection{background:#eada61}
::selection{background:#eada61}

/* html { background-color: #ebf6e5; }  */

html, body {
  height:100%;
}

body { 
  font-family: Helvetica, Arial, sans-serif; 
  color: #220d09; 
  background-color: #ebf6e5;
  opacity: 1;
  padding: 10px;
}
/* to get a backgroundimage with an opacity -> the other elements are not effected from opacity < 1 */
body::before { 
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(./img/golden_leaves.jpg);
  background-clip: border-box;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-position: 100% 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.4;
  z-index: -10;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

ul,ol{ list-style:none; }

img { 
  display: block; 
  margin: 0 0; 
  max-width: 100%; 
}

/* no borders for linked images*/
a img{
  border: none;
  outline: none;
}


/*-------------------------------------------    
    Global
-------------------------------------------*/

.clearfix:after { 
  content: ""; 
  display: table; 
  clear: both; 
}

.offscreen { 
  position: absolute; 
  left: -9999px; 
  display: block; 
}
.onscreen { left: 0; }

.uppercase {
  text-transform: uppercase;
}

.italic_less {
  font-style: italic;
  font-size: 0.9rem;
  color: rgba(32, 13, 9, 0.8);
}

.scroller {
  overflow-y: scroll;
  scrollbar-color: rgba(32, 13, 9, 0.8) rgba(170, 90, 17, 0.2);
  scrollbar-width: thin;
}

/* WebKit Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(170, 90, 17, 0.7); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(32, 13, 9, 0.7); 
  -webkit-box-shadow: inset 0 0 6px rgba(32, 13, 9, 0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(32, 13, 9, 0.4); 
}

a {
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  color: inherit;
  position: relative;
  cursor: pointer;
  background-color: transparent;
}

/* Text links i.e. read more */
a.link {
  font-size: 0.9rem;
  font-weight: 600;
}

/* used for header and footer navigation */
.blur {
  box-shadow:0 2px 3px 0px rgba(34,13,9,0.25);
  transition:.2s all; 
}

.blur-wrap:hover .blur, .blur-wrap:focus .blur {
  filter:blur(1px);
  opacity:.8;
  transform: scale(.98);
  box-shadow:none;
}

.blur-wrap:hover .blur:hover, .blur-wrap:focus .blur:focus  {
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
  box-shadow:0 8px 20px 0px rgba(34,13,9,0.125);
}

/* text links, footer nav links, aside nav links */
a.highlight {
  display: inline-block;
  padding: 0 1px;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
}

a.highlight::after {
  content: '';
  position: absolute;
  z-index: -1;
  /* width: 100%; */
  height: 35%;
  left: -2px;
  right: -5px;
  bottom: 0;
  background-color: rgba(170, 90, 17, 0.7);
  border-radius: 5px 2px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

a.highlight:hover::after, a.highlight:focus::after {
  height: 75%;
  background-color: rgba(170, 90, 17, 0.5);
}

/* a.highlight:focus {
  outline: 2px solid #aa5a11;
  outline-offset: .5rem;
} */


/*-------------------------------------------    
    Navigation
-------------------------------------------*/

header .nav {
  width: auto;
  /* pushes the nav box to the left so it fits inside the body */
  /* margin-right: 20px; */
}

header .nav ul, footer .nav ul {
  margin: 0 auto;
  text-align: center;
}

header .nav ul li, footer .nav ul li {
  display: inline-block;
  margin: 1px 1px;
  background-color: rgb(235, 246, 229, 60%);
}

/* header nav: display table to vertical allign ul in center */

header .nav ul {
  display: table;
  border-collapse: separate;
  border-spacing: 10px;
}

header .nav ul li {
  display: table-cell;
  height: 100px;
  width: 100px;
  vertical-align: middle;
  border: 1px solid rgb(34, 13, 9, 30%);
  border-radius: 20px;
}

  /* !!! doesn't work b/c txt-li and img-li are positioned @ different base line  */
/* header nav ul {
}

header nav ul li {
  height: 100px;
  line-height: 100px;
  text-align: center;
  width: 100px;
} */

aside .nav {
  text-align: right;
  font-weight: bold;
}

aside .nav ul li {
  width: 100%;
  padding: 20px 10%;
}

aside .nav ul li a {
  display: block;
  transition: all ease-out 300ms;
  color: rgba(32, 13, 9, 0.55);
}

aside .nav ul li a::after {
  content: '';
      position: absolute;
      width: 100%;
      height: 0.15em;
      background: black;
      left: 0;
      bottom: -0.5rem;
      /* background-image: linear-gradient(to right, rgba(170, 90, 17, 1), rgba(32, 13, 9, 0.1)); */
      background-image: linear-gradient(to right, rgba(234, 218, 97, 1), rgba(170, 90, 17, 1), rgba(32, 13, 9, 1));
      opacity: 0.55;
}

aside .nav ul li:hover a, aside .nav ul li:focus a{
  color: rgba(32, 13, 9, 0.9);
}

aside .nav ul li:hover a::after, aside .nav ul li:active a::after {
  opacity: 1;
}

footer .nav ul li {
  padding: 5px 10px;
  border-radius: 20px;
}


/*-------------------------------------------    
    Header
-------------------------------------------*/
header {
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  z-index: 1;
}

/*-------------------------------------------    
    Main
-------------------------------------------*/

main {
  position: relative;
  margin-top: 124px;
  /* margin-bottom: 70px; */
  /* scrollable container heigth */
  height: calc(100% - 194px);
}

@media screen and (max-width: 810px) {
  main {
    height: calc(100% - 214px);
  }
}

section {
  width: 79.5%;
  float: right;
  /* background-color: gray; */
  padding: 20px;
  border: 1px solid #220d09;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-right: 0.5%;
}

section:last-of-type {  
  margin-bottom: 0;
}

section figure {
  float: left;
}

section figure img, section figure figcaption {
  width: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
}

aside {
  position: absolute;
  top: 0;
  width: 20%;
  float: left;
}

/*-------------------------------------------    
    Footer
-------------------------------------------*/

footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  height: auto;
}

footer p {
  text-align: center;
  margin-top: 10px;
}
